<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Photos</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Visible</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="photo : ${list}" th:object="${photo}">
            <td th:text="*{title}"></td>
            <td th:text="*{description}"></td>
            <td>
                <div>
                    <img th:src="*{img}" th:alt="*{title}">
                </div>
            </td>
            <td th:text="*{visible}"></td>
        </tr>
        </tbody>
    </table>
    <div th:each="photo : ${list}" th:object="${photo}">

        <img th:src="*{img}" th:alt="*{title}">
    </div>
</div>


</body>
</html>