<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <meta charset="UTF-8">
    <title>Photos</title>
</head>
<body>
<th:block th:replace="/fragments/navbar :: navbar"></th:block>

<div class="container">
    <h1>Photos
        <a th:href="@{/photos/create}"
           class="btn btn-secondary rounded-circle"
           title="add photo"

        >
            <i class="fa-solid fa-plus"></i>

        </a>
    </h1>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Visible</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="photo : ${list}" th:object="${photo}">
            <td th:text="*{title}"></td>
            <td th:text="*{description}"></td>
            <td>
                <div>
                    <img th:src="*{imgPath}" th:alt="*{title}">
                </div>
            </td>
            <td>
                <span th:if="${true}">will be rendered</span>
                <span th:unless="${false}">won't be rendered</span>
                <!--                <th:block th:if="${true}">-->
                <!--                    <dd><i class="fa-solid fa-eye"></i></dd>-->
                <!--                </th:block>-->
                <!--                <th:block th:if="${false}">-->
                <!--                    <i class="fa-solid fa-eye-slash"></i>-->
                <!--                </th:block>-->
            </td>
            <td>
                <a th:href="@{|/photos/*{id}|}" class="btn btn-secondary btn-sm" title="detail">
                    <i class="fa-solid fa-image"></i>
                </a>
                <!--                <a-->
                <!--                        th:href="@{|/pizzas/edit/*{id}|}"-->
                <!--                        class="btn btn-secondary btn-sm"-->
                <!--                        title="edit"-->
                <!--                        sec:authorize="hasAuthority('ADMIN')"-->
                <!--                >-->
                <!--                    <i class="fa-regular fa-pen-to-square text-light"></i>-->
                <!--                </a>-->
                <!--                <a-->
                <!--                        th:href="@{|/pizzas/delete/*{id}|}"-->
                <!--                        class="btn btn-secondary btn-sm"-->
                <!--                        title="delete"-->
                <!--                        sec:authorize="hasAuthority('ADMIN')"-->
                <!--                >-->
                <!--                    <i class="fa-solid fa-trash-can"></i>-->
                <!--                </a>-->
            </td>
        </tr>
        </tbody>
    </table>

</div>


</body>
</html>