<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <meta charset="UTF-8">
    <title>Photo details</title>
</head>
<body>
<th:block th:replace="/fragments/navbar :: navbar"></th:block>

<div class="container">
    <div class="container text-center" th:object="${photo}">
        <h1 th:text="|*{title} details|"></h1>
        <dl>
            <dt>Photo</dt>
            <img th:src="*{imgPath}" th:alt="*{title}">

            <dt>Description</dt>
            <dd th:text="*{description}"></dd>

            <dt>Visible</dt>

            <dt>Categories</dt>
            <dd><span th:each="cat: *{categories}" th:text="${cat.name}" class="me-2"></span></dd>


        </dl>


    </div>
</div>


</body>
</html>