<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>


</head>
<body>

<!-- fragment for navbar -->
<nav
        th:fragment="navbar"
        class="navbar navbar-expand-lg bg-secondary "
        data-bs-theme="dark"
>
    <div class="container-fluid">

        <a class="navbar-brand" th:href="@{/}"><img width="50px" class="logo" th:src="@{/images/logo.png}"
                                                    alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a
                            th:href="@{/photos}"
                            class="nav-link text-light"
                            th:classAppend="${current == 'photos'} ? active : not-active"

                    >Photos
                    </a>
                </li>

                <li class="nav-item">
                    <a
                            th:href="@{/categories}"
                            class="nav-link text-light"
                            th:classAppend="${current == 'categories'} ? active : 'not-active'"
                            aria-current="page">
                        <!--                            sec:authorize="hasAuthority('ADMIN')"-->
                        Categories
                    </a>
                </li>

                <!--                <li class="nav-item">-->
                <!--                    <a-->
                <!--                            th:href="@{/pizzas/search}"-->
                <!--                            class="nav-link text-light"-->
                <!--                            th:classAppend="${current == 'search'} ? active : 'not-active'"-->
                <!--                            aria-current="page"-->
                <!--                    >SEARCH-->
                <!--                    </a>-->
                <!--                </li>-->

                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li> -->

            </ul>


            <form

                    method="get"
                    th:action="@{/photos}"
                    class="d-flex"
                    role="search">
                <input
                        name="q"
                        th:value="${keyword}"
                        class="form-control me-2"
                        type="search"
                        placeholder="Search"
                        aria-label="Search">
                <button class="btn btn-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="ms-3">
                <span sec:authentication="name"></span>
                <a class="btn btn-secondary" th:href="@{/logout}">Logout</a>
            </div>


        </div>
    </div>
</nav>
<!-- end fragment for navbar -->


</body>
</html>